/* Fonts:
font-family: 'Clash Display', sans-serif;
font-family: 'Satoshi', sans-serif;
font-family: 'Ranade', sans-serif;
font-family: 'Chillax', sans-serif;
font-family: 'Cabinet Grotesk', sans-serif;
font-family: 'Melodrama', serif;
font-family: 'Sora', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Clash Grotesk', sans-serif;
*/

/* Navbar Stylesheet */

.home-root {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
a,h3 {
  font-family: 'Clash Grotesk', sans-serif;
  text-decoration: none;
  color: #EEE0CB
}
p,h1,h2 {
  font-family: 'Clash Grotesk', sans-serif;
}
/* colors */
.grey {
  background-color: transparent;
}
.blue-grey {
  background-color: #35605A;
}
.tiffany-blue {
  background-color: #702632;
}
.chinese-violet {
  background-color: #DD6E42;
}
.purple {
  background-color: #3F2A2B;
}
.old-rose {
  background-color: #C17767;
}

/* navbar container */
.header-container {
  width: 100%;
  padding: 0px 20px;
  border: 2px solid black;
  border-radius: 10px;
}
.header-container h1 {
  font-weight: 450;
  letter-spacing: 1.2px;
  font-size: 46px;
}
.navbar-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  margin-top: 12px;
  width: 195px;
  overflow-y: scroll;
  height: 77vh;
  position: sticky;
  top: 0;
}
.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 180px;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: .3s;
}

.nav-item:hover {
  cursor: pointer;
  background-color: transparent;
  transition: .3s;
  border: 1px solid black;
}
.nav-item:hover a {
  color: black;
}
.nav-link {
  font-size: 22px;
}


/* CONTENT CONTAINER  */
.content {
  width: calc(100% - 197px);
  /* border: 1px solid black; */
  border-radius: 10px;
  margin-top: 12px;
  position: relative;
  animation: fade .5s ease-in-out;
}
.main-container {
  padding: 80px 10px 0px;
}

.container-title {
  position: absolute;
  top: 20px;
  left: 40px;
  max-width: 400px;
}
.container-title h3 {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0px;
}
.container-title p {
  font-size: 18px;
}




@keyframes fade {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
