/* Fonts:
font-family: 'Clash Display', sans-serif;
font-family: 'Satoshi', sans-serif;
font-family: 'Ranade', sans-serif;
font-family: 'Chillax', sans-serif;
font-family: 'Cabinet Grotesk', sans-serif;
font-family: 'Melodrama', serif;
font-family: 'Sora', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Clash Grotesk', sans-serif;
*/

/* Navbar Stylesheet */

.home-root {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
a,h3 {
  font-family: 'Clash Grotesk', sans-serif;
  text-decoration: none;
  color: #EEE0CB;
}
p,h1,h2 {
  font-family: 'Clash Grotesk', sans-serif;
}
/* colors */
.grey {
  background-color: transparent;
}
.blue-grey {
  background-color: rgba(35, 103, 64, 0);
  background-color: rgb(1, 6, 19);
  background-color: rgb(43 69 81);
}
.tiffany-blue {
  background-color: #BAB2CE;
  background-color: #1a151c;
}
.chinese-violet {
  background-color: #3137F0;
  background-color: #f3f3f3;
}
.purple {
  background-color: #47B171;
  background-color: #4B88A2;
  overflow-x: scroll;
}
.old-rose {
  background-color: #D3D4D9;
}
.transparent {
  background-color: transparent;
  border: 1px solid black;
}
.border {
  border: 1px solid black;
  overflow-x: scroll;
}

/* navbar container */
.header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px 20px;
  border: 1px solid black;
  border-radius: 10px;
}
.header-container h1 {
  font-weight: 450;
  letter-spacing: 1.2px;
  font-size: 46px;
}
.link-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0px;
  align-items: flex-end;
}
.link-box a {
  color: black;
  font-size: 18px;
  font-weight: 500;
}
.link-box a:hover {
  color: #F63D01;
  color: #4B87A2;
}
.navbar-container {
  --n: 5; /* number of rows*/
  --m: 1; /* number of columns */
  --g: 8px;  /* control the gap */
  --f: .15;   /* control the scale factor */
  --s: .05; /* standard size */
  display: flex;
  flex-direction: column;
  width: 195px;
  gap: 8px;
  margin-top: 12px;
  height: 77vh;
}
.nav {
  position: sticky;
  top: 0px;
}
.nav-item {
  transition: .3s;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 100%;
  border: 1px solid transparent;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  transition: .3s ease-in-out;
  overflow: hidden;
}
.nav-item:hover {
  cursor: pointer;
  background-color: transparent;
  transition: .3s all;
  border: 1px solid black;
}
.nav-item:hover a {
  color: black;
  transition: .3s all;
}
.nav-item.active {
  width: 180px;
  height: 140%;
  cursor: pointer;
  background-color: transparent;
  transition: .4s ease-in-out;
  border: 1px solid black;
  animation-delay: .2s;
}
.nav-item.active a {
  color: black;
  transition: .8s all;
}
.nav-link {
  font-size: 22px;
}
.black {
  color: black;
}

@keyframes grow {
  0% {
    width: 180px;
    height: 70px;
    min-height: 70px;
    min-width: 180px;
  }
  100% {
    height: 150px;
    width: 180px;
  }
}
@keyframes shrink {
  0% {
    height: 150px;
    width: 180px;
  }
  100% {
    width: 180px;
    height: 70px;
    min-height: 70px;
    min-width: 180px;
  }
}

/* CONTENT CONTAINER  */
.content {
  width: calc(100% - 197px);
  border-radius: 10px;
  margin-top: 12px;
  position: relative;
  animation: fade .7s ease-in-out;
  display: flex;
  align-items: center;
}
.main-container {
  padding: 80px 10px 0px;
  display: flex;
  justify-content: center;
}

.container-title {
  position: absolute;
  top: 20px;
  left: 40px;
  max-width: 400px;
  z-index: 10;
  filter: drop-shadow(0px 0px 10px rgba(0,0,0,1.5));
}
.container-title h3 {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 500;
  margin: 0px;
  color: #EEE0CB;
  opacity: 0;
  animation: fade .5s linear .7s forwards;
}


@keyframes fade {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Regular Devices */
@media only screen and  (min-width: 201px) and (max-width: 560px) {

  .header-container {
    padding: 0px 15px;
    width: 91%;
  }
  .header-container h1 {
    font-size: 36px;
    margin: 15px 0px;
  }
  .link-box a {
    font-size: 16px;
  }
  .home-root {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .navbar-container {

    --n: 5; /* number of rows*/
    --m: 1; /* number of columns */
    --g: 8px;  /* control the gap */
    --f: .25;   /* control the scale factor */
    --s: .05; /* standard size */

    display: flex;
    /* flex-direction: column; */
    flex-direction: row;
    width: 100%;
    gap: 8px;
    margin-top: 12px;
    overflow-x: scroll;
    height: 12vh;
  }
  .nav-item {
    width: calc(77vh*var(--s)/var(--n));
    height: calc(100vw*var(--s)/var(--m));
    min-height: 80px;
    min-width: 65px;
    width: 100%;
    height: 80%;

  }
  .nav-item.active {

    width: 100%;
    height: 95%;

  }
  .nav-link {
    font-size: 16px;
    transform: rotate(-90deg);
  }
  /* Content Container */
  .content {
    width: calc(100% - 1px);
    height: 53vh;
    margin-top: 12px;
    position: relative;
    animation: fade .5s ease-in-out;
    overflow-x: auto;
    overflow-y: hidden;
  }
  .main-container {
    padding: 60px 10px 0px;
    display: flex;
    justify-content: center;
  }
  .container-title {
    position: absolute;
    top: 20px;
    left: 20px;
    max-width: 350px;
  }
  .container-title h3 {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0px;
    color: #EEE0CB
  }
  .container-title p {
    font-size: 18px;
    color: #EEE0CB
  }
}
